.form {
  position: relative;
}

.input {
  border: none;
  background-color: #E8E8E8;
  padding: 15px 15px 15px 45px;
  border-radius: 5px;
}


.icon {
  position: absolute;
  left: 10px;
  top: 10px
}
