.container {
  width: 50vw;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px;
}

.title {
  /* font-family: Manrope;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px; */
  /* letter-spacing: 0.2; */
  margin-bottom: 40px;
  color: #111;

  padding: 10px 20px;
  border-bottom: 1px solid #e8e8e8;
}

.lable {
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  color: #111;

  /* @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 27px;
  } */
}

.input {
  outline: none;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  padding: 5px 16px;
  /* width: 310px; */
  font-weight: 400;

  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04em;
  color: #888888;
}

.error {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #f43f5e;
}

.btnWrapper {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 40px;
  border-top: 1px solid #e8e8e8;
  padding: 15px;
}

.btn {
  display: inline-block;
  padding: 5px 16px;
  cursor: pointer;

  font-size: 10px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.04em;
}

.cancel {
  composes: btn;
  background-color: #ffffff;
  color: #888888;
  border: 1px solid #e8e8e8;
}

.save {
  composes: btn;
  background: #54adff;
  font-family: Manrope;

  color: #ffffff;
}

.save:hover,
.save:focus {
  background: linear-gradient(315deg, #419ef1 0%, #9bd0ff 100%);
}

.cancel:hover,
.cancel:focus {
  background: #888888;
  color: #ffffff;
}
