@import-normalize; /* bring in normalize.css styles */

/* @font-face {
  font-family: 'Manrope';
  src: url('assets/fonts/Manrope.ttf') format('truetype');
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
} */



.link {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.no-scroll {
  overflow: hidden;
}
